.LogoSearch {
  gap: 0.75rem;
}

.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
  justify-content: space-between !important;
}

.Search > input {
  background-color: transparent;
  border: none;
  outline: none;
}

.s-icon {
  display: flex;
  background: linear-gradient(106.54deg, #4d10dd -4.67%, #6c31bc 112.32%);
  border-radius: 5px;
  padding: 4px;
  color: white;
}

.s-icon:hover {
  cursor: pointer;
}
